<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>
  <%= form_with model: @user do |f| %>
    <div>
      <p><%= f.label :username, "Имя пользователя" %></p>
      <%= f.text_field :username %>
    </div>
    <%#  %>
    <div>
      <p><%= f.label :email, "email" %></p>
      <%= f.email_field :email %>
    </div>
    <%#  %>
    <div>
      <p><%= f.label :password, "password" %></p>
      <%= f.password_field :password %>
    </div>
    <%#  %>
    <div>
      <br>
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
